body {
  margin: 0;
  padding: 0;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

button {
  border: 1px solid red;
  color: red;
  padding: 5px;
  cursor: pointer;
}

.map-overlay {
  position: absolute;
  left: 0;
  padding: 10px;
}